// general leaf styling

.leaf__action {
  opacity: 0.56;
}

.leaf__action:hover {
  opacity: 1;
}

.leaf__action__side {
  @extend .leaf__action;
  font-size: 1.5rem;
}

.leaf__action__trough {
  @extend .leaf__action;
  font-size: 4vh;
}
