$break-small: 540px;

.leaflet__contentCol {
  padding-top: 0.5em;
  display: inline-block;

  @media screen and (max-width: $break-small) {
    width: 65%;
    margin-left: 30%;
  }

  @media screen and (min-width: $break-small) {
    width: 60%;
    margin-left: 20%;
  }
}

.notebook__noPage {
  position: absolute;
  opacity: 0.3;
  margin-top: 1vh;
  height: 60vh;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  z-index: 0;

  @media screen and (max-width: $break-small) {
    width: 65%;
  }

  @media screen and (min-width: $break-small) {
    width: 60%;
  }
}

.notebook__noPage__img {
  display: block;
  width: 15vw;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.leaflet__noLeaves {
  color: black;
  fill: black;
  position: absolute;
  opacity: 0.36;
  margin-top: 5vh;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  z-index: 0;

  @media screen and (max-width: $break-small) {
    width: 65%;
  }

  @media screen and (min-width: $break-small) {
    width: 60%;
  }
}

.leaflet__noLeaves__img {
  margin-left: 35%;
  display: block;
  width: 30vw;
  margin: auto;
  padding-top: 1em;
}


.noPage-leave {

}

.noPage-leave.noPage-leave-active {
  transform: translateY(100%);
  transition: all 150ms ease-in;
}


.noPage-enter {

}

.noPage-enter.noPage-enter-active {
  transform: translateY(-100%);
  transition: all 150ms ease-in;
}
