.leafletSection__newPage {
  opacity: 0.56;
  transition-property: opacity, font-size;
  transition-duration: 0.2s;
}

.leafletSection__newPage__iconClose {
  opacity: 0.56;
  padding: 0;
}

.leafletSection__newPage__iconCheck {
  @extend .leafletSection__newPage__iconClose;
}

.leafletSection__newPage:hover {
  opacity: 1;
}

.row {
  width: 100%;
}

.leafletPageTitle {
  font-size: 1em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 85%;
  transition-property: opacity, font-size;
  transition-duration: 0.2s;
  cursor: pointer;
}

.leafletPageTitle:hover {
  // font-size: 1.1em;
}

.leafletPageTitle:hover .LeafletPageFav {
  opacity: 0.56;
  width: 1em !important;
  height: 1em !important;
}

.leafletPageTitleSelected {
  @extend .leafletPageTitle;
  font-weight: 500;
}

.leafletPageTitleSelected:hover {
  @extend .leafletPageTitle:hover;
}

.leafletPageTitle:hover .leafletPageFavFiller {
  opacity: 0.2;
}

.leafletPageFav {
  width: 1em !important;
  height: 1em !important;
  opacity: 0.4;
  display: inline-block;
}

.leafletPageFav:hover {
  opacity: 1;
}

.leafletPageFavFiller {
  width: 1em !important;
  height: 1em !important;
  opacity: 0;
  display: inline-block;
}

.leafletPageFavFiller:hover {
 opacity: 1 !important;
}
