.row {
  width: 100%;
}

.leafletPageTitle {
  font-size: 1em;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 65%;
}

.leafletPageTitleSelected {
  font-size: 1em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 65%;
}
